
.switch-icon {
  position: relative;
  display: inline-block;
  font-size: 35px;
  text-align: center;
  width: 35px;
  height: 35px;
  input {
    visibility: hidden;
  }
  label {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  input[type=checkbox]:checked + label {
    color: $blue;
  }

  &.power input[type=checkbox]:checked + label { color: $blue; }
  &.microphone input[type=checkbox]:checked + label { color: $orange; }
  &.metronome input[type=checkbox]:checked + label { color: $purple; }
  &.record input[type=checkbox]:checked + label { color: $red; }
  // &.power input[type=checkbox]:checked + label { color: $blue; } }
  // &.power input[type=checkbox]:checked + label { color: $blue; } }
}