@mixin border-radius($radius) {
  @include border-top-radius($radius);
  @include border-bottom-radius($radius);
  @include border-left-radius($radius);
  @include border-right-radius($radius);
}

@mixin track-color($color) {
  &.controls {
    div.tag {
      position: absolute;
      top: -2px;
      left: -2px;
      width: 7px;
      height: 100px;
      background: $color;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      z-index: 100;
      padding-bottom: 2px;
    }

    &.active {
      border: 2px solid $color !important;
      background: $light-grey !important;       
    }
  }
}
