html {
  -webkit-font-smoothing: antialiased;
}

[data-editor] {
  nav {
    height: 50px;
    background: $light-grey;
    @include outer-container();
    @include border-radius(15px);
    margin-bottom: 5px;

    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;

      > li {
        position: relative;
        display: inline-block;
        height: 50px;
        float: left;
        margin-left: 30px;
        margin-right: 30px;
        line-height: 56px;

        i.inset {
          text-shadow: 1px 1px 1px #ffffff;
        }

        ////////////////////////////////////////
        // Power
        ////////////////////////////////////////
        &#power {
          text-align: center;
        }

        ////////////////////////////////////////
        // Microphone
        ////////////////////////////////////////      
        &#microphone {
          i { font-size: 35px; }

          #live-waveform {
            position: relative;
            top: 3px;
            border-radius: 4px;
            background: #000000;
          }

          &.disabled {
            #live-waveform {
              background: #ccc;
            }
          }
        }

        ////////////////////////////////////////
        // Metronome
        ////////////////////////////////////////  
        &#metronome {
          position: relative;
          font-weight: bold;
          i {
            &.active {
              color: #e10019;
            }
          }

          div.bpm {
            display: inline-block;
            position: relative;
            width: 40px;
            height: 40px; 
            top: 5px;
            .number-input-wrapper {
              position: absolute;
              top: 0px;
              left: 0px;
              overflow: hidden;
              width: 35px;
              height: 28px;
              [name="bpm"] {
                position: absolute;
                top: 0;
                left: 0;
                width: 48px;
                font-size: 16px;
                font-weight: bold;
                background: transparent;
                border: none;
                &:focus { outline: 0; }           
              }
            }
            span.bpm {
              position: absolute;
              top: 0px;
              left: 3px;
            }
          }
          button {
            margin-left: 10px;
          }
        }

        ////////////////////////////////////////
        // Record
        ////////////////////////////////////////  
        &#record {
          i {
            &.active {
              color: #e10019;
            }
          }
          ul li {
            margin-left: 5px;
            margin-right: 5px;
          }
        }

        ////////////////////////////////////////
        // Playback
        ////////////////////////////////////////  
        &#playback {
          padding-right: 15px;
          text-align: right;
          i {
            &.active {
              color: #66CD00;
            }
          }
          ul li {
            margin-left: 5px;
            margin-right: 5px;
          }
        }

        &.disabled {
          color: #cccccc;
          input { 
            color: #cccccc;
          }
        }
      }
    }
  }
}



/*
##################################
# Canvases
##################################
*/

section#workspace {
  position: relative;
  background: $light-grey;
  @include border-radius(10px); 

  table#container {
    border: 1px solid #000000;
    border-spacing: 0px;
    position: relative;
    width: 100%;
    background: #474949;
    box-shadow: inset 0 0 20px #000000;
    @include border-radius(10px);

    tbody {
      tr {

        /////////////////////////////////////////////////
        // Controls
        /////////////////////////////////////////////////
        td#controls {
          width: 30%;

          div.controls {
            position: relative;
            height: 100px;
            @include border-radius(7px);
            background: rgba(255,255,255,0.6);
            padding-left: 10px;
            line-height: 25px;
            border: 2px solid transparent;
            margin: 4px 2px;
            &:first-child { margin-top: 2px; }
            &:last-child { margin-bottom: 2px; }

            span.title { cursor: pointer; }
            div.nodes { }
            div.switches {
              position: absolute;
              right: 0px;
              bottom: 0px;
              padding: 3px;
              a[data-solo], a[data-mute] {
                border: 1px solid rgba(0,0,0,0.75);
                @include border-radius(3px);
                padding: 3px;
                font-family: Arial, sans-serif;
                text-transform: uppercase;
                font-size: 10px;
              }
            }  
          }       
        }

        /////////////////////////////////////////////////
        // Canvases
        /////////////////////////////////////////////////
        td#canvases {
          position: relative;
          overflow-x: scroll;
          width: 70%;

          div#tracks {
            position: absolute;
            width: 100%;
            display: inline;
            white-space:nowrap;
            top: 1px;

            div.canvases {
              float: left;
              position: relative;
              width: 100%;
              height: 100px;
              margin: 2px;
              &:first-child { margin-top: 2px; }
              &:last-child { margin-bottom: 2px; }

              .wave {
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 300;
              }

              .background {
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 200;
              }
            }
          }

          canvas#grid {
            position: absolute;
            top: 0px;
            left: -2px;
            z-index: 100;
          }
        }
      }
    }

    // Track Colors
    [data-color="blue"]   { @include track-color($blue); }
    [data-color="purple"] { @include track-color($purple); }      
    [data-color="green"]  { @include track-color($green); }      
    [data-color="teal"]   { @include track-color($teal); }      
    [data-color="yellow"] { @include track-color($yellow); }      
    [data-color="red"]    { @include track-color($red); }      
    [data-color="orange"] { @include track-color($orange); }
  }

  div#workspace-controls {
    height: 45px;
    padding: 8px;

    ul.controls {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      &.left { float: left; }
      &.right { float: right; }
    }

    button#add-track {
      border: 1px solid rgba(0,0,0,0.5);
      @include border-radius(3px);
      padding: 3px;
      font-size: 13px;
      cursor: pointer;
      i { margin-right: 4px; }
    }
  }
}
