html {
  -webkit-font-smoothing: antialiased;
}

[data-editor] {
  nav {
    height: 50px;
    background: $light-grey;
    @include outer-container();
    @include border-radius(15px);
    margin-bottom: 5px;

    div {
      height: 50px;
      line-height: 51px;

      i.inset {
        text-shadow: 1px 1px 1px #ffffff;
      }
      
      &.microphone {
        @include span-columns(4);
        padding-left: 13px;
        i {
          position: relative;
          top: 7px;
          left: -2px;
          font-size: 35px;
          line-height: 29px;
        }
        #live-waveform {
          border-radius: 4px;
          position: absolute;
          margin-left: 5px;
          margin-top: 7px;
          background: #000000;
          border-top: 1px solid #474747;
          border-left: 1px solid #474747;
          border-right: 1px solid #747474;
          border-bottom: 1px solid #747474;
        }
        #live-waveform-glass {
          position: absolute;
          top: 8px;
          left: 227px;
          z-index: 9999;
          width: 100px;
          height: 35px;
          box-shadow: inset 0 10px 10px rgba(255, 255, 255, 0.75);
          border-radius: 4px;
        }
      }

      &.record {
        @include span-columns(4);
        text-align: center;
        i {
          position: relative;
          top: 7px;
          left: -2px;
          font-size: 35px;
          line-height: 29px;
          &.active {
            color: #e10019;
          }
        }
      }

      &.playback {
        @include span-columns(4);
        padding-right: 15px;
        text-align: right;
        i {
          position: relative;
          top: 7px;
          left: -2px;
          font-size: 35px;
          line-height: 29px;
          &.active {
            color: #66CD00;
          }
        }
      }

      &.disabled {
        color: #cccccc;
        button {
          background: #cccccc !important;
          color: #999999 !important;
          border-color: #eeeeee;
          &:hover {
            background: #cccccc;
            color: #999999;
            border-color: #eeeeee;
          }
        }
      }
    }
  }
}



/*
##################################
# Canvases
##################################
*/

section#workspace {
  position: relative;
  background: $light-grey;
  @include border-radius(10px); 

  table#container {
    border: 1px solid #000000;
    border-spacing: 0px;
    position: relative;
    width: 100%;
    background: #474949;
    box-shadow: inset 0 0 20px #000000;
    @include border-radius(10px);

    tbody {
      tr {

        /////////////////////////////////////////////////
        // Controls
        /////////////////////////////////////////////////
        td#controls {
          width: 30%;

          div.controls {
            position: relative;
            height: 100px;
            @include border-radius(7px);
            background: rgba(255,255,255,0.6);
            padding-left: 10px;
            line-height: 25px;
            border: 2px solid transparent;
            margin: 4px 2px;
            &:first-child { margin-top: 2px; }
            &:last-child { margin-bottom: 2px; }

            span.title { cursor: pointer; }
            div.nodes { }
            div.switches {
              position: absolute;
              right: 0px;
              bottom: 0px;
              padding: 3px;
              a[data-solo], a[data-mute] {
                border: 1px solid rgba(0,0,0,0.75);
                @include border-radius(3px);
                padding: 3px;
                font-family: Arial, sans-serif;
                text-transform: uppercase;
                font-size: 10px;
              }
            }  
          }       
        }

        /////////////////////////////////////////////////
        // Canvases
        /////////////////////////////////////////////////
        td#canvases {
          position: relative;
          overflow-x: scroll;
          width: 70%;

          div#tracks {
            position: absolute;
            width: 100%;
            display: inline;
            white-space:nowrap;
            top: 1px;

            div.canvases {
              float: left;
              position: relative;
              width: 100%;
              height: 100px;
              border: 1px solid #00ff00;
              margin: 2px;
              &:first-child { margin-top: 2px; }
              &:last-child { margin-bottom: 2px; }

              .wave {
                position: absolute;
                top: 2px;
                left: 0px;
                z-index: 300;
              }

              .background {
                position: absolute;
                top: 2px;
                left: 0px;
                z-index: 200;
              }
            }
          }

          canvas#grid {
            position: absolute;
            top: 0px;
            left: -2px;
            z-index: 100;
          }
        }
      }
    }

    // Track Colors
    [data-color="blue"]   { @include track-color($blue); }
    [data-color="purple"] { @include track-color($purple); }      
    [data-color="green"]  { @include track-color($green); }      
    [data-color="teal"]   { @include track-color($teal); }      
    [data-color="yellow"] { @include track-color($yellow); }      
    [data-color="red"]    { @include track-color($red); }      
    [data-color="orange"] { @include track-color($orange); }      
    [data-color="pink"]   { @include track-color($pink); }
  }

  div#lower-controls {
    height: 45px;
    padding: 8px;
    button#add-track {
      border: 1px solid rgba(0,0,0,0.5);
      @include border-radius(3px);
      padding: 3px;
      font-size: 13px;
      cursor: pointer;
      i { margin-right: 4px; }
    }
  }
}
