<tr id="track-0" class="track">
  <td class="controls">
    <div class="panel">
      <span class="title"></span>
      <div class="nodes">
        <label>Gain:</label><input name="track-gain" type="number" /> 
      </div>
      <div class="switches">
        <a data-mute>Mute</a>
      </div>
    </div>
  </td>
  <td class="canvases">
    <canvas class="wave" height="100"></canvas>
    <canvas class="background" height="100"></canvas>
  </td>
</tr>
