<div id="page">
  <h1 class="title">HTML5 Web Audio Recording</h1>

  <div data-editor>
    <nav>
      <div class="microphone">
        <i class="icon-microphone inset"></i>
        <button id="mic-start">Activate</button>
        <button id="mic-stop">Deactivate</button>
        <canvas id="live-waveform" width="100" height="35"></canvas>
        <div id="live-waveform-glass"></div>
      </div>
      <div class="record disabled">
        <i class="icon-circle inset"></i>
        <button id="rec-start">Start</button>
        <button id="rec-stop">Stop</button>
      </div>
      <div class="playback disabled">
        <i class="icon-play inset"></i>
        <button id="play-start">Start</button>
        <button id="play-stop">Stop</button>
      </div>
    </nav>


    <section id="workspace">
      <table id="container">
        <tbody>
          <tr>
            <td id="controls"></td>
            <td id="canvases">
              <div id="tracks"></div>
              <canvas id="grid"></canvas>
            </td>
          </tr>
        </tbody>
      </table>

      <div id="lower-controls">
        <button id="add-track"><i class="fa fa-plus-square"></i>Add Track</button>
      </div>
    </section>

  </div>
</div>