<div data-track-id="init" data-color="init" class="controls">
  <div class="tag"></div>
  <div class="panel">
    <span class="title"></span>
    <div class="nodes">
      <label>Gain:</label><input name="track-gain" type="number" /> 
    </div>
    <div class="switches">
      <a data-solo>Solo</a>
      <a data-mute>Mute</a>
    </div>
  </div>
</div>
  